/* Common */

nav ul li{
    list-style:none;
}

nav ul li a, nav ul li a:active,
nav ul li a:focus, nav ul li a:visited,
.lower-sidebar a, .lower-sidebar a:active,
.lower-sidebar a:focus, .lower-sidebar a:visited{
    text-decoration:none;
    color:#717171;
}

nav ul li a:hover, .lower-sidebar a:hover{
    text-decoration:none;
    color:#fff;
}

/* Text */

body{
    font-family: 'Montserrat', sans-serif;
}

.strong {font-weight:600;}
.loud {text-transform: uppercase;}

.caption{
    font-size:13px;
    color:#717171;
}

h2, h3{
    color:#fff;
}

.username{
    font-size:16px;
    color:#fff;
}

/* Aside */

main aside, main .main-content{
    height:calc(100vh - 100px);
}

main aside{
    background-color: #000;
}

main .main-content{
    overflow-y: auto;
}

.sidebar-container{
    min-height:480px;
    height: 100%;
}

.upper-sidebar{
    height: 65%;
}

.lower-sidebar{
    background-color: #000;
    flex-shrink: 1;
    z-index:1;
}

#logo img{
    width:50%;
}

aside nav ul li, .horizontal-nav ul li{
    font-size:14px;
    line-height:30px;
}

li.active-v{
    border-left:3px solid #adff2f;
}

.pl-special{
    padding-left:calc(15px - 3px);
}

.nav-ico{
    flex-basis:20px;
    margin-right:4px;
}

.home-ico {background:transparent url(../img/home.svg) scroll no-repeat center;}
.search-ico {background:transparent url(../img/search.svg) scroll no-repeat center;}
.lib-ico {background:transparent url(../img/libreria.svg) scroll no-repeat center;}

.playlist-ico::before{
    content:'\002B';
    color:#000;
    font-size:20px;
    background-color: #a3a3a3;
    padding:5px 10px;
    margin:5px 0;
}
.playlist-nav a, .playlist-nav a:hover,
.playlist-nav a:focus, .playlist-nav a:visited{
    text-decoration: none;
    color:#717171;
}

.playlist-nav a:hover{
    color:#fff;
}

.playlist-nav{
    overflow:hidden;
    height:80%;
}

.playlist-nav ul{
    overflow-y: auto;
    height:80%;
}

.create-playlist{
    font-size:16px;
}

.install-container{
    border-bottom:1px solid #6f6f6f;
}

.install-ico{
    background:transparent url(../img/download.svg) scroll no-repeat center;
}

.propic-ico{
    background:#a3a3a3 url(../img/profile.svg) scroll no-repeat center;
    border-radius: 50%;
}

/* Main content */

.main-content{
    background-color: #141922;
}

.cta-bar{
    width:calc((100% / 12) * 10);
    height:100px;
    background-color: rgba(0,0,0,0.5);

    top:0;
    right:0;
    z-index:3;
}

.cta-btn{
    border:1px solid white;
    border-radius: 50px;
    font-size:14px;
}

.cta-btn a, .cta-btn a:hover, .cta-btn a:active,
.cta-btn a:visited, .cta-btn a:focus{
    text-decoration: none;
    color:#fff;
}

.horizontal-nav{
    height:fit-content;
}

.horizontal-nav ul{
    width:100%;
}

li.active-h{
    border-bottom:3px solid #adff2f;

}

.card{
    border:10px solid #141922;
}

.card:first-child{
    border-left:0;
}

.card:last-child{
    border-right:0;
}

.card img{
    width:100%;
}

.artist img{
    border-radius: 50%;
}

/* Footer */

footer{
    width:100%;
    height:100px;
    background-color: #282828;

    bottom:0;
    left:0;
    z-index:2;
}